:root {
    --bg-dark: black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.container {
    margin: auto;
}

.calc-body {
    background-color: beige;
    width: 500px;
    height: 780px;
    margin: 40px auto;
    position: absolute;
    right: calc(100vw / 2.7)
}

.calc-screen {
    background-color: lightgray;
    width: 400px;
    height: 200px;
    margin: 40px auto 20px;
    position: relative;
}

.sum-text {
    float: right;
    padding: 150px 20px 0px 0px;    
}

.btn-txt {
    margin: 20px 0px 0px;
}

.btn {
    background-color: burlywood;
    width:80px;
    height: 80px;
    border-radius: 5px;
    text-align: center;
    margin: 0px auto 0px;
}

.btn:hover {
    opacity: 80%;
}

.clear-btn {
    background-color: orangered;
    width: 190px;
    height: 80px;
    opacity: 70%;
    text-align: center;
    border-radius: 5px;
}

.clear-btn:hover {
    opacity: 80%;
}

.del-btn {
    background-color: cyan;
    opacity: 70%;
    width: 190px;
    height: 80px;
    text-align: center;
    border-radius: 5px;
}

.del-btn:hover {
    opacity: 80%;
}

.row {
    display: flex;
    padding: 10px;
}

.rows {
    margin: auto;
}

.row-1 {
    justify-content: space-around;
}

